<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <!-- script with socket io -->
    <script src="http://localhost:3002/socket.io/socket.io.js"></script>
</head>

<body>
    <div id="v-app">
        Web Socket testing :D
        <h1>{{title}}</h1>
        <form action="">
            <input type="text" name="input" id="input" v-model="text">
            <button id="button" @click.prevent="sendMessage()">send</button>
        </form>
        <p>
        <ul>
            <li v-for="msg in messages">{{msg}}</li>
        </ul>
        </p>
        <button @click.prevent="toggleRoomMembership()">Join room</button>

    </div>

    <script>
        var app = new Vue({
            el: '#v-app',
            data: {
                title: 'Websockecos tester!',
                text: '',
                messages: ['Some message', 'Another message'],
                isMemberOfActiveRoom: false,
            },
            methods: {
                sendMessage: function () {
                    console.log('send : ' + this.text);
                    const xd = {
                        room: 'testingRoom',
                        offer: {
                            id: 35,
                            priceOffer: 22,
                            status: "pending",
                            user: {
                                id: 39,
                                username: "larzdosan",
                                profileImageUrl: null
                            }
                        }
                    }
                    this.socket.emit('makeOfferToServer', xd);
                    this.text = '';
                },
                receiveMessage(msg) {
                    console.log('rec: ' + msg);
                    this.messages.push(msg);
                },
                toggleRoomMembership() {
                    if (this.isMemberOfActiveRoom) {
                        this.socket.emit('joinOfferRoom', 'testingRoom');
                        this.isMemberOfActiveRoom = false;

                    } else {
                        this.isMemberOfActiveRoom = true;
                        this.socket.emit('leaveOfferRoom', 'testingRoom');
                    }
                    console.log(this.isMemberOfActiveRoom)

                }
            },
            created: function () {
                this.socket = io('http://localhost:3002');
                this.socket.on('makeOfferToClient', this.receiveMessage);
                this.socket.on('joinOfferRoom', (message) => {
                    console.log('joinOfferRoom: ' + message);
                });
                this.socket.on('leaveOfferRoom', (message) => {
                    console.log('leaveOfferRoom: ' + message);
                });
            },


        })
    </script>
</body>

</html>