<p>Hola {{ name }},</p>
<p>Para cambiar su contraseña por favor siga el siguiente enlace</p>
<p>
    <a href="{{ url }}">Cambiar contraseña</a>
</p>

<p>If you did not request this email you can safely ignore it.</p>